.DragDropList {
    position: relative;
    z-index: 9999;
}

.DragDropList li, li {
    color: #FFF;
    text-align: left;
    border: 1px solid grey;
    border-radius: 4pt;
    padding: 15px;
    margin-bottom: 12px;
    list-style-type:none;
}

.DragDropList li:hover {
     transform: scale(1.05); 
    -webkit-transform: scale(1.05); 
}
