.profileStyle {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    color: #FFF;
   // background-image: url('');
    background-position: left top;
    background-size: 100%;
    background-repeat: no-repeat;
}
.profileContainer {
    padding-left: 25%;
    padding-right: 25%;
}

.packBox[data-type='profile'] {
    margin-top: 20pt;
}

.userRow, .trainerRow {
    position: relative;
    display: inline-block;
    padding: 10pt;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.userRow p,  .trainerRow p { float: left; }
.trainerRow p[data-type='title'] { 
    font-weight: 600;
    color: gray; 
}
.bikeNumber {
    position: absolute;
    right: 10pt;
}

.no-wrap{
    width: 10rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.center-title{
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%) 
}

.bikeNumber-row{
    right: 5%;
    position: absolute;
    transform: translate(-50%, 0%) 
}

.overflowMenu{
    position: absolute;
    outline: none;
    right: 0px;
    transform: translate(0%, -10%) 
}

.overflowMenu:focus{
    outline: none;
}

@media screen and (max-width: 66rem)  { 
    .profileStyle { 
        padding-top: 15%;
        padding-bottom: 15%;
        background-size: 200%;
    }
    .profileContainer {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media screen and (max-width: 42rem) {
    .profileStyle { 
        padding-top: 30%;
        padding-bottom: 30%;
        background-size: 300%;
    }
    .profileContainer {
        padding-left: 25%;
        padding-right: 25%;
    }
}
@media screen and (max-width: 42rem) and (orientation:landscape) {
    .profileStyle { 
        padding-top: 20%;
        background-size: 150%;
    }
    .profileContainer {
        padding-left: 35%;
        padding-right: 35%;
    }
}