.heroHome {
    height: 100vh;
    padding: 5%;
    color: #FFF;
    background-image: url(hero.png);
    background-position: right top;
    background-size: 100%;
    background-repeat: no-repeat;
}
.heroHeadline { 
    position: relative;
    height: 100vh;
}
.aboutHome {
    position: relative;
    height: auto;
    padding: 5%;
    padding-top: 15%;
    padding-bottom: 20%;
    padding-right: 15%;
    background-color: #FFF;
  //  background-image: url(instructors-bg.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.spotifyButton {
    position: absolute;
    bottom: 10%;
    padding: 10px;
    padding-left: 35px;
    font-weight: 500;
    font-size: 12pt;
    color: #000;
    background-image: url(icon-spotify.svg);
    background-position: center left;
    background-size: 24px;
    background-repeat: no-repeat;
    -webkit-transition: all .15s;
    transition: all .15s;
}
.spotifyButton:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
.spotifyIcon {
    position: absolute;
    top: 12px;
    margin-left: 5px;
    fill:#000;
}
.socialNetworks { 
    position: relative;
    top: 15pt;
    left: -10pt;
}
.socialNetworks[data-type='heroHome'] { 
    position: relative;
    margin-top: 2.5%;
    top: 10pt;
    left: 10pt;
    float: right;
}
.socialNetworks ul {
    list-style-type: none;
    display: inline;
}
.socialNetworks li {
     margin-left: 10pt;
     float: left;
     opacity: 0.5;
    -webkit-transition: all .15s;
     transition: all .15s;
}
.socialNetworks li:hover {
    opacity: 1;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

@media screen and (max-width: 66rem) {
    .heroHome { background-size: cover; }
    .aboutHome { 
        padding-right: 5%;
        padding-top: 25%;
        height: 175vh !important; 
        background-position: right bottom;
        background-size: 130% !important;
    }
}
@media screen and (max-width: 66rem) and (orientation:portrait) {
    .aboutHome { height: 120vh !important; }
}
@media screen and (max-width: 66rem) and (orientation:landscape) {
    .aboutHome { 
        padding-top: 15%; 
        height: 230vh !important;
        background-size: 120% !important;
    }
}

@media screen and (max-width: 42rem) {
    .heroHome { background-size: cover; }
    .heroHeadline { padding-top: 80%; }
    .aboutHome { 
        height: 150vh !important;
        background-position: right bottom;
        background-size: 200% !important;
    }
    .spotifyButton { display: none; }
    .socialNetworks[data-type='heroHome'] {
        top: 0pt;
        left: 0pt;
    }
}
@media screen and (max-width: 66rem) and (orientation:portrait) {
    .aboutHome { height: 150vh !important; }
}
@media screen and (max-width: 42rem) and (orientation:landscape) {
    .heroHeadline { padding-top: 15%; }
    .aboutHome { 
        padding-top: 15%;
        padding-right: 42%; 
        height: 210vh !important; 
        background-position: 50% bottom;
        background-size: 125% !important;
    }
}

@media screen and (max-width: 20rem) {
    .aboutHome { 
        height: 180vh !important;
        background-size: 200% !important;
    }
}